header{
    background: linear-gradient(90deg, 
    rgba(0,212,255,1) 20%,
    rgba(9,9,121,1) 45%,
    rgba(2,0,36,1) 90%);
    color: azure;
    text-align: center;
    
}
#day0{
    border: solid 1px black;
}
.forecast{
    /* background-color: #323d4f; */
    background-color: #323d4f;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
